In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("demo.csv")
df

   Pregnancies  Glucose  BloodPressure  SkinThickness
0            6      148             72             35
1            1       85             66             29
2            8      183             64              0
3            1       89             66             23
4            0      137             40             35
5            5      116             74              0
6            3       78             50             32
7           10      115              0              0
8            2      197             70             45
9            8      125             96              0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pregnancies    10 non-null     int64
 1   Glucose        10 non-null     int64
 2   BloodPressure  10 non-null     int64
 3   SkinThickness  10 non-null     int64
dtypes: int64(4)
memory usage: 448.0 bytes

In [24]:
pd.melt(df)

         variable  value
0     Pregnancies      6
1     Pregnancies      1
2     Pregnancies      8
3     Pregnancies      1
4     Pregnancies      0
5     Pregnancies      5
6     Pregnancies      3
7     Pregnancies     10
8     Pregnancies      2
9     Pregnancies      8
10        Glucose    148
11        Glucose     85
12        Glucose    183
13        Glucose     89
14        Glucose    137
15        Glucose    116
16        Glucose     78
17        Glucose    115
18        Glucose    197
19        Glucose    125
20  BloodPressure     72
21  BloodPressure     66
22  BloodPressure     64
23  BloodPressure     66
24  BloodPressure     40
25  BloodPressure     74
26  BloodPressure     50
27  BloodPressure      0
28  BloodPressure     70
29  BloodPressure     96
30  SkinThickness     35
31  SkinThickness     29
32  SkinThickness      0
33  SkinThickness     23
34  SkinThickness     35
35  SkinThickness      0
36  SkinThickness     32
37  SkinThickness      0
38  SkinThickness     45
39  SkinThickness      0

In [25]:
df.transpose()

                 0   1    2   3    4    5   6    7    8    9
Pregnancies      6   1    8   1    0    5   3   10    2    8
Glucose        148  85  183  89  137  116  78  115  197  125
BloodPressure   72  66   64  66   40   74  50    0   70   96
SkinThickness   35  29    0  23   35    0  32    0   45    0

In [28]:
pd.melt(df, id_vars = ["Pregnancies"])

    Pregnancies       variable  value
0             6        Glucose    148
1             1        Glucose     85
2             8        Glucose    183
3             1        Glucose     89
4             0        Glucose    137
5             5        Glucose    116
6             3        Glucose     78
7            10        Glucose    115
8             2        Glucose    197
9             8        Glucose    125
10            6  BloodPressure     72
11            1  BloodPressure     66
12            8  BloodPressure     64
13            1  BloodPressure     66
14            0  BloodPressure     40
15            5  BloodPressure     74
16            3  BloodPressure     50
17           10  BloodPressure      0
18            2  BloodPressure     70
19            8  BloodPressure     96
20            6  SkinThickness     35
21            1  SkinThickness     29
22            8  SkinThickness      0
23            1  SkinThickness     23
24            0  SkinThickness     35
25            5  SkinThickness      0
26            3  SkinThickness     32
27           10  SkinThickness      0
28            2  SkinThickness     45
29            8  SkinThickness      0

In [29]:
pd.melt(df, id_vars = ["Pregnancies"], value_vars = ["Glucose"])

   Pregnancies variable  value
0            6  Glucose    148
1            1  Glucose     85
2            8  Glucose    183
3            1  Glucose     89
4            0  Glucose    137
5            5  Glucose    116
6            3  Glucose     78
7           10  Glucose    115
8            2  Glucose    197
9            8  Glucose    125