# Pandas various methods:

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("Fortune_10.csv")
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# To check the first few rows of a file we use "df.head(size)" method:

In [21]:
df.head()

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

In [22]:
df.head(1)

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%

In [23]:
df.head(8)

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%

# To check the last few rows of a file we use "df.tail(size)" method:

In [24]:
df.tail()

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
df.tail(1)

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [27]:
df.tail(7)

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# Changing the Data Type of a column using "dtype" argument in "read_csv()" method:

In [28]:
df = pd.read_csv("Fortune_10.csv", dtype = {"ID":float})
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3.0,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5.0,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6.0,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7.0,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8.0,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10.0,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [29]:
df = pd.read_csv("Fortune_10.csv", dtype = {"ID": float, "Profit":float})
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

# Changing values of columns into "TRUE" 7 "FALSE" using "true_values" & "false_values" argument of "read_csv()" method:

In [30]:
df = pd.read_csv("Fortune_10.csv")
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [31]:
df = pd.read_csv("Fortune_10.csv", true_values = ["Yes"], false_values = ["No"])
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,True,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,True,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,False,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,True,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,True,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,False,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,True,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,False,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,True,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,True,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%